img {
    border: 3px solid #282c34;
  }
  .container-fluid {
    height: 94vh;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-fluid > div {
    width: 60%;
    min-width: 300px;
    /* max-width: 00px; */
  }
  .card {
    width: 100%;
  }
  .social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .btn a, .btn a:hover {
    color: white;
    text-decoration: none ;
  }